#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 {
  /* @version: 0.1.0
 */
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-step-container-styles {
  box-shadow: 0 2px 0 0 #eb6500 inset, rgba(115, 115, 115, 0.85) 0 0 0 1px !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-step-container-styles[data-vertical-alignment='Bottom Aligned'] {
  border-top: 2px solid #eb6500 !important;
  box-shadow: 0 -18px 0 0 #ebebeb !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-step-container-styles[data-vertical-alignment='Top Aligned'] {
  border-bottom: 2px solid #eb6500 !important;
  box-shadow: 0 18px 0 0 #ebebeb !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-step-container-styles[data-els-caret='left'] {
  box-shadow: -2px 0 0 0 #eb6500, rgba(115, 115, 115, 0.85) 0 0 0 1px !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-step-container-styles[data-els-caret='right'] {
  box-shadow: 2px 0 0 0 #eb6500, rgba(115, 115, 115, 0.85) 0 0 0 1px !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-step-container-styles[data-els-caret='top'] {
  box-shadow: 0 -2px 0 0 #eb6500, rgba(115, 115, 115, 0.85) 0 0 0 1px !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-step-container-styles[data-els-caret='bottom'] {
  box-shadow: 0 2px 0 0 #eb6500, rgba(115, 115, 115, 0.85) 0 0 0 1px !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 .pendo-tooltip-caret {
  display: none !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 [data-els-caret] ~ .pendo-tooltip-caret-border {
  background-image: linear-gradient(225deg, transparent 11px, #eb6500 11px, #eb6500 13px, #ebebeb 13px) !important;
  border: 0px none !important;
  display: block !important;
  height: 16px !important;
  width: 16px !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 .els-pendo-dark[data-els-caret] ~ .pendo-tooltip-caret-border {
  background-image: linear-gradient(225deg, transparent 11px, #eb6500 11px, #eb6500 13px, #2e2e2e 13px) !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 [data-els-caret='left'] ~ .pendo-tooltip-caret-border {
  transform: translate(-1px, 15px) rotate(180deg);
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 [data-els-caret='right'] ~ .pendo-tooltip-caret-border {
  transform: translate(1px, 15px) rotate(90deg);
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 [data-els-caret='top'] ~ .pendo-tooltip-caret-border {
  transform: translate(15px, -1px) rotate(0deg);
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 [data-els-caret='bottom'] ~ .pendo-tooltip-caret-border {
  transform: translate(1px, 1px) rotate(180deg);
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 #pendo-guide-container :focus {
  outline-offset: 1px !important;
  outline: 2px solid #eb6500 !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-multi-choice-poll-select-border:hover {
  border-color: currentColor;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-multi-choice-poll-select-border > select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 128" height="14" width="18"><path d="M1 51l7-7 38 38 38-38 7 7-45 45z" fill="%23007398"/></svg>');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 36px;
  color: inherit;
  font: inherit;
  padding: 0 40px 0 8px;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-multi-choice-poll-select-border > select > option {
  background: #fff;
  color: #2e2e2e;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 .els-pendo-dark ._pendo-multi-choice-poll-select-border > select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 128" height="14" width="18"><path d="M1 51l7-7 38 38 38-38 7 7-45 45z" fill="%2344c6f4"/></svg>');
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-multi-choice-poll-select-border > select:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 128" height="14" width="18"><path d="M1 51l7-7 38 38 38-38 7 7-45 45z" fill="%23eb6500"/></svg>');
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 div._pendo-multi-choice-poll-select-border > div > span {
  display: flex !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 div._pendo-multi-choice-poll-select-border input.pendo-radio {
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #8e8e8e;
  box-sizing: border-box;
  min-height: calc(1em + 4px);
  max-height: calc(1em + 4px);
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: text-bottom !important;
  min-width: calc(1em + 4px);
  max-width: calc(1em + 4px);
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 div._pendo-multi-choice-poll-select-border input.pendo-radio:hover {
  border-color: currentColor;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 div._pendo-multi-choice-poll-select-border input.pendo-radio:before {
  border-radius: 50%;
  content: '';
  display: block;
  height: calc(0.6em);
  left: 0.2em;
  position: relative;
  top: 0.2em;
  width: calc(0.6em);
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 div._pendo-multi-choice-poll-select-border input.pendo-radio:checked:before {
  background-color: #eb6500;
  border: calc(0.3em) solid #eb6500;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 div._pendo-multi-choice-poll-select-border label.pendo-radio {
  background-color: transparent !important;
  color: currentColor !important;
  text-align: left !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-number-scale-poll-wrapper {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 input[class*='_pendo-number-scale-']:focus + label {
  outline: 2px solid #eb6500;
  outline-offset: 1px;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 input[class*='_pendo-number-scale-'] {
  color: inherit;
  display: block !important;
  font: inherit;
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: -1;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 label[class*='_pendo-number-scale-'] {
  border-radius: 0 !important;
  border-radius: 0;
  box-shadow: 0 0 0 2px #007398 inset;
  font-family: inherit !important;
  margin-bottom: 4px !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 input[class*='_pendo-number-scale-'] + label:hover {
  box-shadow: 0 0 0 2px #eb6500 inset;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 input[class*='_pendo-number-scale-']:checked + label {
  box-shadow: 0;
  background-color: #007398 !important;
  color: #fff !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 .els-pendo-dark label[class*='_pendo-number-scale-'] {
  box-shadow: 0 0 0 2px #44c6f4 inset;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 .els-pendo-dark input[class*='_pendo-number-scale-']:checked + label {
  background-color: #44c6f4 !important;
  color: #2e2e2e !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 form._pendo-open-text-poll-wrapper {
  margin-bottom: -8px;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 form._pendo-open-text-poll-wrapper > textarea {
  border-color: #8e8e8e !important;
  border-style: solid !important;
  border-width: 1px 1px 2px !important;
  font-family: inherit;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 form._pendo-open-text-poll-wrapper > textarea::placeholder {
  color: inherit !important;
  opacity: 1;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 form._pendo-open-text-poll-wrapper > textarea:focus,
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 form._pendo-open-text-poll-wrapper > textarea:hover {
  border-color: currentColor !important;
  box-shadow: 0 0 !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-text-list-item {
  margin-bottom: 4px;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-text-list-item::marker {
  color: #eb6500;
  font-weight: 700;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 a._pendo-text-link {
  border-bottom: 2px solid transparent;
  display: inline !important;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 a._pendo-text-link:hover,
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 a._pendo-text-link > u._pendo-text-underline:hover {
  text-decoration: none !important;
  border-bottom: 2px solid #eb6500;
}
#pendo-g-Kh37E7DGgkYQCtkt6CjhLPpZHb0 ._pendo-button {
  font-family: inherit;
}
