            /* A A A A A A A A A A */
.aboutme-embed .aboutme-bio p {
	margin-bottom: 23px !important;
}
a:hover.button {
	color: #5c3383;
}
#az-slider .development {
	display: none;
}
.az-letters ul.az-links li {
	width: 3em;
	height: 3em;
}
/* B B B B B B B B B B */
body {
	font-size: 14px !important;
	background: #fff;
	color: #000 !important;
}
.breadcrumb-container.theme4 a {
	background: #FDE898 !important;
	color: #000000 !important;
}
.breadcrumb-container {
	margin-left: -13px !important;
	margin-bottom: 20px;
}
.breadcrumb-container ul li:last-child {
	pointer-events: none;
	cursor: default;
}
.buffer-10 {
	margin-bottom: 10px;
}
.button {
	padding: 7px 15px;
	background-color: #5c3383;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	width: auto;
	margin: auto;
}
.button a {
	color: white !important;
}
a.button {
	color: white !important;
}

/* C C C C C C C C C C */
#create {
	font-size: 90% !important;
	margin-bottom: 33px;
}
#create .entry ul li, #create .entry ol ul li {
	list-style: none !important;
}

/* D D D D D D D D D D */
div.sidebar.s2 h3 {
	padding-bottom: 13px;
}
.disappear {
	display: none;
}
.dropshadow {
	border: 1px solid #ccc !important;
	box-shadow: 3px 3px 10px !important;
	max-width: 95% !important;
	margin: 23px 0;
}

/* E E E E E E E E E E */
.entry {
	font-size: 15px !important;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 450px;
}
.entry h3 {
	font-size: 18px;
	font-weight: bold;
}
.entry p, .entry dd {
	color: #000;
	line-height: 1.3em;
}
.entry .su-column-inner {
	background-color: white;
	border: none;
}
.entry table td {
	text-align: left;
}
.entry img.alignright {
	margin: 5px 0 18px 20px !important;
}
.entry .widgets_on_page ul {
	margin: 0 !important;
}

/* F F F F F F F F F F */

.foo-arrow-left {
	background-color: #cccccc;
	padding: 5px 0;
	width: 5%;
	float: left;
	text-align: center;
}
.foo-arrow-left-sidebar {
	background-color: #cccccc;
	padding: 5px 0;
	width: 10%;
	float: left;
	text-align: center;
}
.foo-arrow-right {
	background-color: #cccccc;
	padding: 5px 0;
	width: 5%;
	float: left;
	text-align: center;
	clear: right;
}
.foo-arrow-right-sidebar {
	background-color: #cccccc;
	padding: 5px 0;
	width: 10%;
	float: left;
	text-align: center;
	clear: right;
}
#foobutton {
	margin-left: 5px;
}
#foo-column {
	background-color: #fff;
}
#foo-column .foo-square-01 {
	height: auto !important;
	margin-bottom: 7px;
	width: 90%;
	clear: both;
	padding: 3% 5% !important;
}
#foo-column .foo-square-02, #foo-column .foo-square-03, #foo-column .foo-square-04, #foo-column .foo-square-05, #foo-column .foo-square-06, #foo-column .foo-square-07, #foo-column .foo-square-08, #foo-column .foo-square-09, #foo-column .foo-square-10, #foo-column .foo-square-11, #foo-column .foo-square-12 {
	height: auto !important;
	margin-top: 20px;
	margin-bottom: 7px;
	width: 90%;
	clear: both;
	padding: 3% 5% !important;
}
.foo-div .foo-text-alt {
	margin-bottom: 15px;
	width: 85%;
}
.foo-nav-left {
	background-color: #ececec;
	padding: 5px 0;
	width: 44%;
	float: left;
	text-align: center;
}
.foo-nav-left-sidebar {
	background-color: #fbfbfb;
	padding: 5px 0;
	width: 37%;
	float: left;
	text-align: center;
}
.foo-nav-right {
	background-color: #dcdcdc;
	padding: 5px 0;
	width: 44%;
	float: left;
	text-align: center;
}
.foo-nav-right-sidebar {
	background-color: #dcdcdc;
	padding: 5px 0;
	width: 37%;
	float: left;
	text-align: center;
}
.foo-square-01, .foo-square-02, .foo-square-03, .foo-square-04, .foo-square-05, .foo-square-06, .foo-square-07, .foo-square-08, .foo-square-09, .foo-square-10, .foo-square-11, .foo-square-12 {
	min-height: 100px;
	height: auto;
	width: 86%;
	clear: both;
	padding: 5% 7%;
}
.foo-text {
	font-size: .9em;
	color: #fff;
	line-height: 1.5em;
	padding: 10px 10px 0 3px;
	text-shadow: 1px 1px 3px #000;
}
.foo-text-alt {
	font-size: .9em;
	color: #000;
	line-height: 1.3em;
	padding: 0;
	text-align: center;
}
.foo-title {
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	text-shadow: 2px 1px 2px #000;
}
#footer-widgets {
	padding-top: 15px;
	background-color: #d5d5d5;
}

/* G G G G G G G G G G */
.gform_wrapper.gf_browser_chrome select[multiple=multiple] {
	height: auto !important;
	min-height: 200px;
}
#gform_widget-2 .widget {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
}

/* H H H H H H H H H H */
#header .pad {
	padding-top: 10px;
	padding-bottom: 10px;
}
.h5p-content ul li, .h5p-content ol ul li {
	list-style: none;
}
.h5p-documentation-tool-page ul li, .h5p-documentation-tool-page ol ul li {
	list-style: square !important;
}
.h5p-documentation-tool-page ul {
	margin-bottom: 23px !important;
}
.h5p-iframe-wrapper {
	margin-top: 25px !important;
	margin-bottom: 35px !important;
	width: 95% !important;
	padding: 5px 10px !important;
	border: 1px solid #ccc !important;
	box-shadow: 3px 3px 10px !important;
}
.h5p-frame {
	margin-top: 25px !important;
	margin-bottom: 35px !important;
	width: 96% !important;
	padding: 5px 10px !important;
	border: 1px solid #ccc !important;
	box-shadow: 3px 3px 10px !important;
}
.h5p-actions {
	border: 0 !important;
}
.h5p-drag-text .h5p-drag-dropzone {
	width: 150px !important;
}
.home .entry {
	margin-top: 0 !important;
}

/* I I I I I I I I I I */
iframe {
	margin-top: 23px;
}
img.align-right {
	float: right;
	padding: 0 0 15px 15px;
}

/* L L L L L L L L L L */
.letter-section {
	border-top: 2px solid #ccc;
	margin-top: 23px;
	padding-top: 15px;
	-webkit-column-count: 3;
/* Chrome, Safari, Opera */
	-moz-column-count: 3;
/* Firefox */
	column-count: 3;
}

/* M M M M M M M M M M */

.menu-item-5255 a, .menu-item-6989 a, .menu-item-5262 a, .menu-item-5266 a {
	color: #FDE898 !important;
}

#menu-for-writers a {
	color: #000000;
}
#menu-item-812 {
	background-color: #642667 !important;
	margin-right: 23px !important;
    padding-right: 0px !important;
}
#menu-item-812 a:hover {
	background-color: #26272B !important;
}
#menu-tippy-top .menu-item {
	font-size: 14px !important;
}
.menu-item a, .page_item a, .breadcrumb-container a {
	font-weight: normal !important;
}
.menu-item-4069 a, .menu-item-4070 a, .menu-item-4071 a {
	color: #fef3cb !important;
}

/* N N N N N N N N N N */
.nav ul {
	width: 275px !important;
	padding: 5px 0 !important;
}
.nest-link {
	font-weight: bold !important;
	font-size: 16px !important;
	margin-bottom: 15px !important;
}
.nest-link-big {
	font-weight: bold !important;
	font-size: 19px !important;
	margin-bottom: 15px !important;
}
.nest-p {
	margin-bottom: 9px !important;
}
.nest-pdq {
	color: #aaa !important;
	margin-left: 31px !important;
}

/* O O O O O O O O O O */
.owlet-wing {
	margin: 25px 25px 0;
}

/* P P P P P P P P P P */
#page {
	padding-bottom: 0;
}
#page a {
	color: #3b8dbd;
	font-weight: bold;
}
.page-title span {
	text-transform: none;
	font-weight: normal;
    color: #e8e8e8;
}
.page-title h2 {
	color: #ffffff;
}
.post-byline {
	display: none;
}
.php_widget p {
	margin-bottom: 13px;
}
#php_widget-5 {
	margin-bottom: 0;
	padding-bottom: 13px;
}
#php_widget-5 .su-spoiler, #php_widget-11 .su-spoiler, #php_widget-12 .su-spoiler, {
	margin-bottom: 0;
}
#php_widget-7, #php_widget-11, #php_widget-12, #php_widget-22, #wp_editor_widget-4 {
	padding-top: 0 !important;
}
#php_widget-8, #php_widget-10 {
	padding-top: 0;
}
#php_widget-22 .su-spoiler {
	margin-bottom: 13px !important;
}

/* R R R R R R R R R R */
#rubric .su-spoiler {
	margin-bottom: 0 !important;
}

/* S S S S S S S S S S */
.s2 .WP_Editor_Widget {
	list-style: none !important;
}
.s2 a {
	color: #3b8dbd !important;
	font-weight: bold !important;
}
.sharedaddy {
	margin-top: 33px;
}
.sidebar .widgets_on_page ul {
	margin: 0 !important;
}
.sidebar-content h3 {
	margin-top: 10px;
}
.sidebar-content .su-spoiler-style-fancy {
	margin-bottom: 0 !important;
}
.srr-style-smodern {
	border: 1px solid #aaaaaa;
	background-color: white;
}
.srr-style-smodern .even, .srr-style-smodern .odd {
	background: #ffffff !important;
}
.super-rss-reader-widget {
	font-size: 13px !important;
}
.su-column-inner {
	background-color: white;
	border: 1px solid #aaaaaa;
}
.su-post {
	line-height: 1.3em;
}
.su-tabs {
	margin-top: 10px !important;
}
.su-tabs-nav {
	background-color: #dddddd;
}
.su-tabs-nav span {
	border-right: 1px solid #999;
}
.s2 h3 {
	color: #aaaaaa;
	margin-bottom: 10px;
	border-bottom: 2px solid #aaaaaa;
	padding-bottom: 0 !important;
}

/* T T T T T T T T T T */
.tagcloud {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 3px 23px;
	margin-bottom: 23px;
}
table.results {
	border: 1px solid #ccc;
	border-bottom: 5px solid #ccc;
	border-right: 5px solid #ccc;
}

table.results td {
	padding-left: 10px;
}
#tamethenavcss h3 {
	color: #308aa1;
	margin-bottom: 10px;
	border-bottom: 2px solid #308aa1;
}
#tamethenavcss .page_item_has_children ul.children {
	display: none;
}
#tamethenavcss .current_page_item ul.children {
	display: block !important;
	margin-left: 15px;
	font-weight: normal;
	font-style: italic;
}
#tamethenavcss ul.children li a {
	color: #666 !important;
	font-weight: normal !important;
}
#tamethenavcss .current_page_parent {
	font-weight: bold !important;
}
#tamethenavcss .current_page_item {
	font-weight: bold !important;
}
#tamethenavcss .current_page_parent a {
	color: #660066;
	font-weight: bold;
}
#tamethenavcss .current_page_item a {
	color: #660066 !important;
	font-weight: bold !important;
}
#tamethenavcss .current-page-ancestor a {
	color: #660066 !important;
	font-weight: bold !important;
}
tr.Development {
	display: none;
}
td p {
	color: #000 !important;
}
.themeform input[type="text"] {
	padding: 3px 8px !important;
}
.themeform.searchform div input {
	padding-left: 26px !important;
}
.themeform.searchform div:after {
	top: 3px !important;
}

/* U U U U U U U U U U */
ul.su-posts-list-loop {
	list-style: disc;
	margin-left: 25px;
}

/* V V V V V V V V V V */
.video-container {
	margin-bottom: 23px !important;
}

/* W W W W W W W W W W */
.widget a {
	color: #000;
}
.widget > h3 {
	font-weight: 700;
	text-transform: none;
}
.WP_Editor_Widget p {
	font-size: 13px;
  margin: 5px 0px 10px 0px;
}
.WP_Editor_Widget ul {
	font-size: 13px;
}
#wp_editor_widget-22.widget {
	padding: 0 30px 20px;
}
.wp-video {
	margin-bottom: 33px;
}
#wp_editor_widget-28 {
	padding-top: 0 !important;
}
#wrapper,
.container-inner {
	min-width: 320px;
}

/* Y Y Y Y Y Y Y Y Y Y */

.youtube, .youtube-player {
	width: 100% !important;
	max-width: 600px !important;
}