.carousel-caption a{
	color: #FFFFFF;
    font-weight: 700;
}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* FlexSlider Blank Sliding Theme
*********************************/
.blank_spotlight .flex-direction-nav, 
.blank_spotlight .carousel-caption,
.blank_spotlight .flex-pauseplay,
.blank_spotlight .flex-counter,
.transparent .flex-counter,
.basic-sliding .flex-counter{
    display:none;
}
.transparent .flex-direction-nav{
 border-left: none;   
}
.transparent .carousel-caption h4, 
.transparent .carousel-caption p, 
.transparent .ubc-carousel .carousel-caption h4, 
.transparent .ubc-carousel .carousel-caption p,
.basic-sliding .carousel-caption h4,
.basic-sliding .carousel-caption p {
    margin-right: 0px;
}
.transparent a{
    text-decoration: none;
}

.expanded-slider{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
}

.transparent .carousel-caption{
    color: #FFFFFF;
    max-width: 350px;
    position: absolute;
    height: 140px;
    left: auto;
    text-align: right;
    top: 40px;
    z-index: 21;
    padding: 10px;
    background-color: #111;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

/* Direction Nav for Basic Sliding */
.basic-sliding .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.basic-sliding .flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.basic-sliding .flex-direction-nav .flex-prev {left: -36px;}
.basic-sliding .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.basic-sliding .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.basic-sliding .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.basic-sliding .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.basic-sliding .flex-direction-nav,
.basic-sliding .flex-pauseplay,
.basic-sliding .flex-counter{
	height: auto;
	position: inherit;
        bottom: auto;
}

.basic-sliding .flex-direction-nav{
	border-left: none;
	right:auto;
	width: auto;
}

.basic-sliding .carousel-caption{
    position: absolute;
    z-index: 21;
    padding: 20px;
    color: #FFFFFF;
    background-color: #111;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.multi .flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    background: url(../../img/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

.multi .flex-direction-nav{
    border: none;
    right: auto;
    width: auto;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
  
          .transparent .carousel-caption{
            position: relative;
            max-width: 1200px;
            top: auto;
            left: auto;
            
        }
        .transparent .carousel-caption h4, 
        .transparent .carousel-caption p, 
        .transparent .ubc-carousel .carousel-caption h4, 
        .transparent .ubc-carousel .carousel-caption p {
            margin-right: 160px;
        }
        .transparent .carousel-caption{
            color: #FFFFFF;
            height: 100px;
            left: auto;
            z-index: 0;
            text-align: left;
            padding: 10px;
            background-color: #111;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.8;
            opacity: 0.8;
        }
        
        .expanded-slider {
            margin-left: -20px;
            margin-right: -20px;
        }
}

.flex-direction-nav,
.flex-pauseplay,
.flex-counter{
	height: 100px;
	position: absolute;
	bottom:0;
}

.flex-direction-nav{
	border-left:1px solid #FFF;
	right:66px;
	width: 89px;
	padding-left: 9px
}
.flex-pauseplay{
	right:97px;
	width: 26px;
}
.flex-counter{
	right: 25px;
	color: #FFF;
	height: 62px;
	font-size: 85%;
    font-weight: 700;
}
/* links */
.flex-direction-nav a,
.flex-pauseplay a{
	margin-top:37px;
}
.flex-direction-nav a,
.flex-pauseplay a{
	color: #002145;
	border: 0 none;
    cursor: pointer;
    float: left;
    height: 26px;
    width: 26px;
    background-image: url(//cdn.ubc.ca/clf/7.0.2/img/ubc7-clf-sprite-white.png);
    background-color: #FFF;
    text-indent: -999em;
}

.flex-direction-nav a:hover,
.flex-pauseplay a:hover{ background-color: #002145; }

.flex-pauseplay .flex-pause{ background-position: -1074px -255px; }
.flex-pauseplay .flex-pause:hover{ background-position: -1074px -221px; }

.flex-pauseplay .flex-play{ background-position: -1142px -255px; }
.flex-pauseplay .flex-play:hover{ background-position: -1142px -221px; }

.flex-direction-nav .flex-prev{ background-position: -1040px -255px; }
.flex-direction-nav .flex-prev:hover{ background-position: -1040px -221px; }

.flex-direction-nav .flex-next{ background-position: -1108px -255px; float: right;}
.flex-direction-nav .flex-next:hover{ background-position: -1108px -221px;}


@media (max-width: 979px) { 
	.flex-direction-nav{
		padding-top: 20px;
	}
	.flex-direction-nav a,
	.flex-pauseplay a{
		margin-top:27px;
	}
        .expanded-slider {
            margin-left: -20px;
            margin-right: -20px;
        }
}
@media (max-width: 520px) {
	.flex-direction-nav,
	.flex-pauseplay{
		height: 40px;
		
		bottom:0;
	}
	.flex-direction-nav{
		border:none;
	}
	.flex-direction-nav a,
	.flex-pauseplay a{
		margin-top:0px;
	}
	.flex-counter{
		height: 37px;
	}
        .transparent .carousel-caption{
            position: relative;
            width: auto;
            top: auto;
            left: auto;
            
        }
}

/* ie7 fix & ie10 comatibility mode */
.ie7 .flex-next{
	margin-top:13px;
}