

#Nav, #LogoBox, #Banner, #Column1, #Footer
{
	display:none;	
}

#Page
{
	width:100%;
	border:0px;
	margin:0;
	padding:0px;
}

#Column3, #Column2
{
	float:none;
}

.Pane1, .Pane2
{
	background:none;
	border:0px;
}
