.RadMenu_topmenu
{
	background:none;
	color: #ffffff;
    font-family: Trebuchet, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	margin:0px;
	margin-left:0px;
	display:inline;
}

.RadMenu_topmenu .link
{
}

.RadMenu_topmenu .rootGroup
{

}

.RadMenu_topmenu .rootGroup .link
{
	background:  url(/Portals/101/Skins/REAP/images/topmenu_bg.png) repeat-x;
	border:solid 1px #f39999;
	border-bottom:none;
	padding:2px 10px 2px 10px;
	margin-right:6px;
	/*width: 94px;*/
	line-height: 26px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}

.RadMenu_topmenu .rootGroup .item
{
	/*border-right:1px solid #ffffff;*/
}

.RadMenu_topmenu .rootGroup .item .last
{
	/*border-right:1px solid #252525;*/
}

.RadMenu_topmenu .rootGroup li {

	margin:0px;
}

.RadMenu_topmenu .rootGroup .text
{

}

.RadMenu_topmenu .rootGroup .focused,
.RadMenu_topmenu .rootGroup .link:hover
{
	background:  url(/Portals/101/Skins/REAP/images/topmenu_selected.png) repeat-x;
	border:solid 1px #5a89b8;
	border-bottom:none;
	/*height: 26px;
	width: 94px;*/
	line-height: 26px;

}

.RadMenu_topmenu .group
{
	background-color:#ffffff;
}

.RadMenu_topmenu .group .link
{
	border:none;
	color:#000000;
	background:none;
}

.RadMenu_topmenu .group .item
{
	border-bottom:1px solid #000000;

}

.RadMenu_topmenu .group .last
{
	/*border-right:1px solid #ffffff;*/
}

.RadMenu_topmenu .group .link:hover,
.RadMenu_topmenu .group .focused,
.RadMenu_topmenu .group .expanded
{
	background-image:none;
	background-color:  #cecece;
	border:none;
}

.RadMenu_topmenu .group .text
{
}


.RadMenu_topmenu .text
{
	line-height: 22px;

}

.RadMenu_topmenu .expandLeft,
.RadMenu_topmenu .expandRight
{
	background:transparent url(img/groupImage.gif) right center no-repeat;
}

.rootGroup
 {
    white-space:normal !important;    
}
/* no wrap on all subsequent levels */
.level1
{
    white-space:normal !important;   
    /*white-space:nowrap !important;*/    	
}

.RadMenu_topmenu .rootGroup .PathItemx
{
	background:  url(/Portals/101/Skins/REAP/images/topmenu_selected.png) repeat-x;
	border:solid 1px #5a89b8;
	border-bottom:none;
}
