.RadMenu_submenu
{
	background:  url(/Portals/101/Skins/REAP/images/submenu_bg.png) repeat-x;
	background-color:#336699;
	width:100%;
	color: #ffffff;
    font-family: Trebuchet, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	margin:0px;
	margin-left:0px;
	margin-bottom:10px;
	display:inline;
	padding:1px 0px 5px 0px;
}

.RadMenu_submenu .link
{
}

.RadMenu_submenu .rootGroup
{
}

.RadMenu_submenu .rootGroup .link
{
	/*background:  url(/Portals/101/Skins/REAP/images/menu_item3.png) no-repeat;*/


	/*line-height: 24px;*/
	padding-top: 4px;
	padding-bottom: 4px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-align:left;
	margin-left:10px;
	margin-right:10px;

}

.RadMenu_submenu .rootGroup .item
{
	border-right:solid 1px #999999;
	/*border-right:1px solid #ffffff;*/
}

.RadMenu_submenu .rootGroup .item .last
{
	/*border-right:1px solid #252525;*/
}

.RadMenu_submenu .rootGroup li {

	margin:0px;
}

.RadMenu_submenu .rootGroup .text
{

}

.RadMenu_submenu .rootGroup .focused,
.RadMenu_submenu .rootGroup .link:hover
{
	text-decoration:underline;
}

.RadMenu_submenu .rootGroup .PathItemx
{
	text-decoration:underline;
}