/*
Help Popup CSS by Erik Mallinson, 2015-09
Last revised 2015-10-09
*/


.help {
  color: rgba(0,0,0,.8);
  width: 100%;
  left: 0;
  right: 0;
  border-style: solid;
  border-color: rgba(0,0,0,.2);
  border-width: 0;
  background-color: rgba(255,255,182,1);
}

.help-message {
  font-size: 1.4em;
  margin: 0 10px;
}

.help-engage {
  font-family: TitilliumWeb700Bold, Verdana;
}

.help-dismiss {
  float: right;
  display: inline;
  clear: right;
  font-size: .6em;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

/* SLIDE-BOTTOM */

.slide-bottom {
  bottom: 0;
  position: fixed;
  z-index: 100;
  display: none;
  border-top-width: .1em;
  border-top: .1em solid rgba(0, 0, 0, .2);
  box-shadow: 0px -1px .5em rgba(0,0,0,.1);
  margin-bottom: 0 !important;
}

/* SLIDE-BOTTOM SPECIFIC */


.help.slide-bottom .help-message{
  line-height: 3;
}

.help.slide-bottom .help-engage {
  font-weight: bold;
}

/* POPUP-CENTER */

.popup-center {
  z-index: 1000; /* Someone made the megamenu a ridiculous z-index. At least it was ridiculous ... until now. */
  position: fixed;
  margin: 0 auto;
  top: 16%;
  width: 90%;
  max-width: 55em;
  display: none;
  border-width: .1em;
  border-radius: .1em;
  box-shadow: 0em .3em .5em rgba(0,0,0,.3);
}

.help.popup-center .help-engage {
  text-align: right;
}

/* POPUP-CENTER SPECIFIC */

.popup-center .help-message {
    margin: 1em 1em;
    padding: 2em 1.9em;
    padding-bottom: 2.5em;
}

.popup-center h2{
  font-family: TitilliumWeb700Bold, Verdana;
  margin-bottom: .4em;
}

.popup-center p {
  line-height: 1.15;
}
