@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #ebebeb;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.4em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: #67b651;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #67b651;
}
a:visited {
  color: #67b651;
}
hr {
  border-color: #ebebeb;
}
article p {
  margin-bottom: 1.25em;
  font-size: 0.9375em;
}
article a {
  color: #67b651;
}
article a:hover {
  color: #67b651;
}
article ul, article ol {
  padding-left: 40px;
  margin: 30px 0;
}
ul li, ol li {
  line-height: 1.3em;
}
ul li:not(:last-child), ol li:not(:last-child) {
  margin-bottom: 7px;
}
h1, h2, h3, h4 {
  margin-bottom: 0.5em;
  line-height: 1.4em;
  font-family: 'Open Sans', sans-serif;
}
.button, .next-posts a, .prev-posts a, .commentlist a.comment-reply-link, input[type="submit"] {
  display: inline-block;
  padding: 0 20px;
  background: #67b651;
  color: #fff;
  border: none;
  line-height: 40px;
  min-width: 120px;
  border-radius: 7px;
}
form {
  position: relative;
}
form .button, form .next-posts a, .next-posts form a, form .prev-posts a, .prev-posts form a, form .commentlist a.comment-reply-link, .commentlist form a.comment-reply-link {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 7px 7px 0;
}
.next-posts.next-posts, .prev-posts.next-posts {
  float: left;
}
.next-posts.next-posts a::before, .prev-posts.next-posts a::before {
  content: '\f053';
  font-family: 'FontAwesome';
  font-size: 0.8125em;
  margin-right: 10px;
}
.next-posts.prev-posts, .prev-posts.prev-posts {
  float: right;
}
.next-posts.prev-posts a::after, .prev-posts.prev-posts a::after {
  content: '\f054';
  font-family: 'FontAwesome';
  font-size: 0.8125em;
  margin-left: 10px;
}
.show-more {
  font-size: 0.875em;
  display: block;
  margin-top: 20px;
}
#searchform {
  position: relative;
}
input[type="text"], input[type="email"], textarea {
  border: solid #ebebeb 1px;
  height: 50px;
  line-height: 40px;
  padding: 0 18px;
  background-color: #fff;
  color: #333;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 7px;
  -webkit-appearance: none;
}
textarea {
  height: 200px;
  max-width: 100%;
  line-height: 1.4em;
  padding: 18px;
  box-shadow: none;
}
::-webkit-input-placeholder {
  color: #acacac;
}
:-moz-placeholder {
  color: #acacac;
}
::-moz-placeholder {
  color: #acacac;
}
:-ms-input-placeholder {
  color: #acacac;
}
select {
  border: solid grey 2px;
  height: 40px;
  padding: 0 18px;
  background-color: rgba(205, 226, 240, 0.3);
  color: #484848;
  width: 100%;
  margin-bottom: 12px;
  background-image: url('../img/select-arrow.png');
  background-repeat: no-repeat;
  background-position: right 14px center;
}
#respond {
  margin-top: 40px;
}
#respond h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
#respond label {
  font-size: 0.875em;
  float: left;
  margin-bottom: 5px;
  font-weight: 400;
}
#commentform p {
  font-size: 14px;
  margin-bottom: 10px;
}
#commentform > div {
  margin-bottom: 10px;
}
.commentlist li {
  list-style: none;
  background: #f4f4f4;
  padding: 20px;
}
.commentlist li .comment-meta {
  margin-bottom: 10px;
  font-size: 0.875em;
}
.commentlist li .reply {
  margin-top: 15px;
}
.commentlist li p {
  font-size: 0.9375em;
}
.commentlist li a {
  color: #67b651;
}
.commentlist li ul.children {
  margin-top: 20px;
}
.commentlist li ul.children > li {
  background: rgba(255, 255, 255, 0.5);
}
.commentlist li ul.children > li .reply {
  display: none;
}
.commentlist .comment-meta a {
  color: #333;
}
.commentlist a.comment-reply-link {
  min-width: 0;
  font-size: 13px;
  padding: 0 10px;
  line-height: 28px;
}
.sharedaddy {
  position: relative;
  margin-bottom: 20px;
  height: 30px;
}
.sharedaddy ul {
  padding: 0;
}
.sharedaddy .sd-content > ul > li {
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 0;
  width: 80px;
}
.sharedaddy .sd-content > ul > li.share-facebook {
  left: 0px;
}
.sharedaddy .sd-content > ul > li.share-google-plus-1 {
  left: 97px;
}
.sharedaddy .sd-content > ul > li.share-twitter {
  left: 171px;
}
.sharedaddy .sd-content > ul > li.share-linkedin {
  left: 242px;
}
.sharedaddy .sd-content > ul > li.share-pinterest {
  left: 313px;
}
.twitter-follow-button {
  margin-top: 20px;
}
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  background: #f4f4f4;
}
.wrap {
  max-width: 1400px;
}
main {
  clear: both;
}
main:after {
  content: '';
  display: table;
  clear: both;
}
#content {
  width: 66.66%;
  float: left;
  background: #fff;
}
#content .category-list {
  width: 30%;
  float: left;
  padding: 40px;
  padding-right: 0;
}
#content .post-list {
  width: 70%;
  float: left;
  padding: 40px;
  padding-bottom: 80px;
}
#content .post-list > ul > li {
  list-style: none;
}
#sidebar {
  width: 33.33%;
  float: left;
  background: #fff;
  padding: 40px;
  padding-top: 0;
  background: #f4f4f4;
  position: relative;
}
#footer {
  clear: both;
}
.menu li {
  display: inline-block;
}
@media screen and (max-width: 992px) {
  #content, #sidebar {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #content .category-list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: #ebebeb;
    width: 100%;
    text-align: center;
    padding: 40px;
    padding-top: 0;
  }
  #content .category-list h3 {
    font-size: 1.125em;
    border-bottom-width: 2px;
  }
  #content .category-list a {
    color: #959595;
  }
  #content .category-list li {
    margin-bottom: 0;
    padding: 12px 0;
  }
  #content .category-list.open {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  #content .post-list {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #content .category-list {
    padding: 40px 20px;
  }
  #content .post-list {
    padding: 40px 20px;
  }
  #sidebar {
    padding: 40px 20px;
  }
}
#footer {
  clear: both;
  margin-top: 80px;
  background: #333;
  color: #fff;
  padding: 40px 0;
}
#footer .wrap {
  margin: 0 auto;
}
#footer .top:after {
  content: '';
  display: table;
  clear: both;
}
#footer .logo {
  text-align: center;
  padding-top: 50px;
}
#footer .logo img {
  width: 150px;
  display: inline-block;
}
#footer .about {
  width: 66.66%;
  margin: 0 auto;
  text-align: center;
}
#footer .about p {
  font-size: 0.8125em;
}
#footer .copyright {
  text-align: center;
  font-size: 0.9375em;
  margin-top: 20px;
  clear: both;
}
#footer .disclaimer {
  color: #666;
  text-align: center;
  margin-top: 20px;
}
#footer .disclaimer p {
  color: #666;
  font-size: 0.8125em;
}
@media screen and (max-width: 1400px) {
  #footer {
    margin-top: 0;
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  #footer {
    padding: 40px 20px;
  }
  #footer .about {
    width: 100%;
  }
}
#header {
  background: #f4f4f4;
  height: 120px;
  position: relative;
}
#header .logo {
  background: #fff;
  display: inline-block;
  float: left;
  width: 20%;
  height: 120px;
  text-align: center;
  padding: 0 20px;
  position: relative;
}
#header .logo img {
  margin-top: 30px;
  position: absolute;
  max-width: 80%;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#main-menu ul li {
  border-right: solid #ebebeb 1px;
  float: left;
  margin-bottom: 0;
}
#main-menu ul li a {
  color: #959595;
  display: block;
  padding: 60px 20px 40px 20px;
}
#main-menu ul li a:hover {
  text-decoration: none;
  background: #ebebeb;
}
#burger {
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  min-width: 0;
  padding: 12px 8px 7px 8px;
  line-height: 100%;
}
#burger::before {
  content: '\f0c9';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 28px;
}
#burger:hover, #burger:active, #burger:visited {
  color: #fff;
}
.open-colleges {
  text-align: center;
  margin-bottom: 40px;
  margin-top: -75px;
}
.open-colleges img {
  display: inline-block;
  width: 140px;
}
.open-colleges p {
  font-size: 0.75em;
  position: relative;
  top: -15px;
  left: -7px;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .open-colleges {
    margin-top: 0;
  }
  #header .logo {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  #header {
    height: auto;
  }
  #header .logo {
    width: 50%;
  }
  #burger {
    display: block;
  }
  #main-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    clear: both;
    border-top: solid #e0e0e0 1px;
    background: #ebebeb;
    padding: 40px;
  }
  #main-menu #menu-mainmenu::before {
    content: 'Pages';
    display: block;
    text-align: center;
    font-size: 1.125em;
    border-bottom: solid #67b651 2px;
    padding-bottom: 0.5em;
    margin-bottom: 0.8em;
    line-height: 1.4em;
  }
  #main-menu ul li {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
    border-bottom: dotted 1px #b7b7b7;
  }
  #main-menu ul li a {
    padding: 12px 0;
  }
  #main-menu.open {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  #header .logo {
    width: 75%;
  }
  #burger {
    right: 20px;
  }
}
#sidebar ul li a {
  color: #333;
}
#sidebar .widget {
  margin-bottom: 30px;
}
#sidebar .popular-posts li {
  border-bottom: dotted 1px #d2d2d2;
  padding-bottom: 7px;
  overflow: visible;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
#sidebar .popular-posts li::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #67b651;
  left: 6px;
  top: 6px;
}
#sidebar .widget_archive ul {
  list-style: none;
  max-height: 228px;
  overflow: hidden;
  position: relative;
}
#sidebar .widget_archive ul.more {
  max-height: none;
}
#sidebar .widget_archive ul li {
  border-bottom: dotted 1px #d2d2d2;
  padding-bottom: 7px;
}
#sidebar .widget_archive ul::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 30px;
  background: -webkit-linear-gradient(top, rgba(244, 244, 244, 0), rgba(244, 244, 244, 1));
  bottom: 0;
  left: 0;
}
#sidebar .widget_archive ul.more::after {
  display: none;
}
#sidebar h2 {
  border-bottom: solid #67b651 6px;
  font-size: 24px;
  padding-bottom: 0.5em;
  margin-bottom: 0.8em;
  clear: both;
}
#sidebar #searchform {
  margin-bottom: 40px;
}
#sidebar #searchform input[type="text"] {
  max-width: calc(100% - 120px);
  border-radius: 7px 0 0 7px;
}
#sidebar #searchform .button, #sidebar #searchform .next-posts a, .next-posts #sidebar #searchform a, #sidebar #searchform .prev-posts a, .prev-posts #sidebar #searchform a, #sidebar #searchform .commentlist a.comment-reply-link, .commentlist #sidebar #searchform a.comment-reply-link {
  line-height: 50px;
}
#sidebar .subscribe {
  margin-bottom: 0.8em;
  position: relative;
  padding-left: 70px;
  border-bottom: 0;
  padding-bottom: 0;
}
#sidebar .subscribe::before {
  content: '';
  display: inline-block;
  width: 55px;
  height: 35px;
  position: absolute;
  top: -3px;
  left: 0px;
  margin-right: 15px;
  background: url('../img/mail.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#sidebar #mailchimpform {
  margin-top: 20px;
  margin-bottom: 40px;
}
#sidebar #mailchimpform input[type="email"] {
  max-width: calc(100% - 120px);
  border-radius: 7px 0 0 7px;
}
#sidebar #mailchimpform .button, #sidebar #mailchimpform .next-posts a, .next-posts #sidebar #mailchimpform a, #sidebar #mailchimpform .prev-posts a, .prev-posts #sidebar #mailchimpform a, #sidebar #mailchimpform .commentlist a.comment-reply-link, .commentlist #sidebar #mailchimpform a.comment-reply-link {
  line-height: 50px;
}
#sidebar .tweets ul {
  list-style: none;
}
#sidebar .tweets li {
  margin-bottom: 10px;
}
#sidebar .tweets .time {
  font-size: 0.75em;
  color: #959595;
}
#sidebar .tweets a {
  color: #67b651;
  font-size: 0.875em;
}
.category-list li {
  border-bottom: dotted 1px #d2d2d2;
  padding-bottom: 7px;
}
.category-list h3 {
  border-bottom: solid #67b651 6px;
  padding-bottom: 0.5em;
  margin-bottom: 0.8em;
}
.category-list a {
  color: #333;
}
@media screen and (max-width: 1200px) {
  #subscribeform input[type="text"], #searchform input[type="text"], #subscribeform input[type="email"], #searchform input[type="email"] {
    width: 100%;
    max-width: none !important;
    border-radius: 7px !important;
  }
  #subscribeform .button, #subscribeform .next-posts a, .next-posts #subscribeform a, #subscribeform .prev-posts a, .prev-posts #subscribeform a, #subscribeform .commentlist a.comment-reply-link, .commentlist #subscribeform a.comment-reply-link, #searchform .button, #searchform .next-posts a, .next-posts #searchform a, #searchform .prev-posts a, .prev-posts #searchform a, #searchform .commentlist a.comment-reply-link, .commentlist #searchform a.comment-reply-link {
    position: relative;
    border-radius: 7px;
  }
}
@media screen and (max-width: 992px) {
  #sidebar {
    padding-top: 40px;
  }
  #searchform {
    display: none;
  }
  #subscribeform {
    width: 50%;
    float: left;
    padding-right: 20px;
  }
  #subscribeform input[type="text"] {
    width: 100%;
    max-width: none !important;
    border-radius: 7px !important;
  }
  #subscribeform .button, #subscribeform .next-posts a, .next-posts #subscribeform a, #subscribeform .prev-posts a, .prev-posts #subscribeform a, #subscribeform .commentlist a.comment-reply-link, .commentlist #subscribeform a.comment-reply-link {
    position: relative;
    border-radius: 7px;
  }
  .popular-posts {
    width: 50%;
    float: left;
    padding-left: 20px;
  }
  .widget_archive {
    width: 50%;
    float: left;
    padding-right: 20px;
  }
  .widget_archive .show-more {
    display: none;
  }
  .tweets {
    width: 50%;
    float: left;
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  #subscribeform {
    width: 100%;
    padding-right: 0;
  }
  .popular-posts, .widget_archive, .tweets {
    display: none;
  }
}
.page-title {
  padding: 11px 20px;
  color: #67b651;
  font-family: 'merriweather';
  border: solid 2px;
  margin-bottom: 40px;
  font-size: 18px;
}
.post-list ul li:not(:last-child) .post {
  margin-bottom: 80px;
}
.meta {
  margin-bottom: 10px;
  font-size: 0.875em;
}
.meta span {
  display: inline-block;
  margin-bottom: 8px;
}
.meta span:not(:last-child) {
  margin-right: 20px;
}
.meta span::before {
  font-family: 'FontAwesome';
  color: #67b651;
  font-size: 18px;
  margin-right: 7px;
  position: relative;
}
.meta span a {
  color: #67b651;
}
.meta .author {
  font-family: 'Merriweather';
  font-size: 1.25em;
  margin-bottom: 0;
}
.meta .date::before {
  content: '\f017';
  font-size: 19px;
  top: 2px;
}
.meta .comments::before {
  content: '\f075';
}
.meta .category::before {
  content: '\f07b';
  top: 1px;
}
article h2 {
  font-family: 'Merriweather';
  font-size: 2.375em;
  margin-bottom: 0.4em;
}
article h2 a {
  color: #333;
}
article h2 a:hover, article h2 a:active, article h2 a:visited, article h2 a:focus {
  color: #333;
}
article .read-more {
  font-size: 0.9375em;
  display: block;
  margin-top: 10px;
}
.post .img {
  margin-bottom: 20px;
  border: solid #ebebeb 1px;
}
.post .entry {
  margin-top: 20px;
  margin-bottom: 40px;
}
.post .entry h2 {
  margin-top: 40px;
}
.post .entry ul li {
  padding-bottom: 7px;
  overflow: visible;
  list-style: none;
  position: relative;
}
.post .entry ul li::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #67b651;
  left: -30px;
  top: 6px;
}
@media screen and (max-width: 480px) {
  article h2 {
    font-size: 1.125em;
  }
  .post-list ul li:not(:last-child) .post {
    margin-bottom: 40px;
  }
}
/* shi page - future of education */
/*----------------------------
 The Navigation Menu
 -----------------------------*/
#colorNav > ul {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
#colorNav > ul > li {
  /* will style only the top level li */
  list-style: none;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #ccc;
  display: inline-block;
  line-height: 1;
  margin: 1px;
  border-radius: 3px;
  position: relative;
}
#colorNav > ul > li::before {
  display: none;
}
#colorNav > ul > li > a {
  color: inherit;
  text-decoration: none !important;
  font-size: 24px;
  padding: 25px;
}
#colorNav li ul {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  top: 70px;
  font: bold 12px 'Open Sans Condensed', sans-serif;
  max-height: 0px;
  /* This is important for the show/hide CSS animation */
  overflow: hidden;
  -webkit-transition: max-height 0.4s linear;
  -moz-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}
#colorNav li ul li {
  background-color: #313131;
}
#colorNav li ul li a {
  padding: 12px;
  color: #fff !important;
  text-decoration: none !important;
  display: block;
}
#colorNav li ul li:nth-child(odd) {
  /* zebra stripes */
  background-color: #363636;
}
#colorNav li ul li:hover {
  background-color: #444;
}
#colorNav li ul li:first-child {
  border-radius: 3px 3px 0 0;
  margin-top: 45px;
  position: relative;
}
#colorNav li ul li:first-child:before {
  /* the pointer tip */
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-bottom-color: #313131;
  left: 50%;
  top: -10px;
  margin-left: -5px;
}
#colorNav li ul li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* This will trigger the CSS */
/* transition animation on hover */
#colorNav li:hover ul {
  max-height: 200px;
}
/* Increase when adding more dropdown items */
/*----------------------------
 Color Themes
 -----------------------------*/
#colorNav li.blue {
  /* This is the color of the menu item */
  background-color: #05a8ba;
}
#colorNav li.light-green {
  background-color: #94bb37;
}
#colorNav li.dark-green {
  background-color: #037b28;
}
#colorNav li.emerald {
  background-color: #118086;
}
#divider2 {
  background: url("http://informed.s3.amazonaws.com/informed/wp-content/uploads/2015/01/divider-2.jpg") repeat-x scroll center center transparent;
  border: medium none;
  clear: left;
  height: 9px;
  margin-top: 20px;
  padding: 0;
  width: 100%;
}
/* end shi page */
